---
title: Middleman KSS Demo
---

<h1>1.0 &mdash; Buttons</h1>

<h2>1.1 &mdash; Form Buttons</h2>
<p>Buttons suitable for form actions.</p>

<% styleguide_block '1.0.0' do %>
  <button class="$modifier_class">Default Button</button>
<% end %>

<pre><code>&lt;% styleguide_block &#x27;1.1.1&#x27; do %&gt;
  &lt;button class=&quot;$modifier_class&quot;&gt;Default Button&lt;/button&gt;
&lt;% end %&gt;</code></pre>
