---
title: Middleman KSS Demo
---

<h1>2.0 &mdash; Thumbnails</h1>

<h2>2.1 &mdash; Thumbnails</h2>
<p>Base styles of media objects.</p>

<% styleguide_block '2.1.1' do %>

<% end %>

<pre><code>&lt;% styleguide_block &#x27;2.1.1&#x27; do %&gt;

&lt;% end %&gt;</code></pre>
